
<?php View::content() ?>
<h3>
	<a href="../">Doctores</a>
</h3>
<div class="panel panel-default">

<center>
<div class="row">
<div class="col-md-5 col-md-offset-3">
<fieldset>
<legend>Nuevo doctor</legend>
 <?php echo Form::open() ?>

 

  <div class="form-group">
    <label class="control-label col-sm-2">Nombres: </label>
    <div class="col-sm-10">
    <?php echo Form::text('doctors.nombres','class="form-control"') ?>
    </div>
  </div>
  <br></br>
   <div class="form-group">
    <label class="control-label col-sm-2">Apellidos: </label>
    <div class="col-sm-10">
    <?php echo Form::text('doctors.apellidos','class="form-control"') ?>
    </div>
  </div>
  <br></br>
  <div class="form-group">
    <label class="control-label col-sm-2">Telefono: </label>
    <div class="col-sm-10">
    <?php echo Form::text('doctors.telefono','class="form-control"') ?>
    </div>
  </div>
  <br></br>
  <div class="form-group">
    <label class="control-label col-sm-2">Clave: </label>
    <div class="col-sm-10">
    <?php echo Form::password('doctors.clave','class="form-control"') ?>
    </div>
  </div>
  <br></br>
  <div class="form-group">
    <label class="control-label col-sm-2">Correo: </label>
    <div class="col-sm-10">
    <?php echo Form::email('doctors.correo','class="form-control"') ?>
    </div>
  </div>
  
 
	<br></br>
<div class="form-group">
 <div class="col-sm-10">
	<?php echo Form::submit('Guardar','class="btn btn-primary"') ?>
	</div>
</div>
   

 <?php echo Form::close() ?>
 </fieldset>
</div>

</div>


</center>

<?php //View::partial('editors/tinymce') // ya veremos si incluimos algun wysiwyg?>
</div>