
<?php View::content() ?>
<h3>
	<?= Html::link("subcategoria/index/$idCategoria", 'Sub Categorias')?>
</h3>
<div class="panel panel-default">

<center>
<div class="row">
<div class="col-md-5 col-md-offset-3">
<fieldset>
<legend>Nueva sub-categoria</legend>
 <?php echo Form::open() ?>
  <div class="form-group">
    <label class="control-label col-sm-2">Nombre: </label>
    <div class="col-sm-10">
    <?php echo Form::text('subcategoria.nombre','class="form-control"') ?>
    </div>
  </div>
  <br></br>
   <div class="form-group">
    <label class="control-label col-sm-2">Clase: </label>
    <div class="col-sm-10">
    <?php echo Form::text('subcategoria.clase','class="form-control"') ?>
    </div>
  </div>
  <br></br>
  <div class="form-group">
  		<label class="control-label col-sm-2">Campo:</label>

  		<div class="col-sm-10">
  			<?php echo Form::text('subcategoria.campo','class="form-control"') ?>
  		</div>
	</div>
	<br></br>
	 <div class="form-group">
  		<label class="control-label col-sm-2">Imagen:</label>

  		<div class="col-sm-10">
  			<?php echo Form::text('subcategoria.ImagenPrincipal','class="form-control"') ?>
  		</div>
	</div>
	<br></br>
	<div class="form-group">
		 <label class="control-label col-sm-2">CssClass:</label>

		 <div class="col-sm-10">
			 <?php echo Form::text('subcategoria.CssClass','class="form-control"') ?>
		 </div>
 </div>


<div class="form-group">
 <div class="col-sm-10">
	<?php echo Form::submit('Guardar','class="btn btn-primary"') ?>
	</div>
</div>


 <?php echo Form::close() ?>
 </fieldset>
</div>

</div>


</center>

<?php //View::partial('editors/tinymce') // ya veremos si incluimos algun wysiwyg?>
</div>
