
<?php View::content()?>
<h1></h1>
<h3>Categoria: <?php echo $categoria->nombre?> <?= Html::linkAction("crear/$categoria->Id", 'Agregar', 'class="btn btn-primary" style="margin-left:10px"')?></h3>
<div class="panel panel-default">

<?php if (isset($data->items)) : ?>

<div class="panel-heading">Lista de sub categorias
</div>

<!-- START table-responsive-->
               <div class="table-responsive" style="margin-left:20px">
                  <table id="table-ext-1" class="table table-bordered table-hover">
                     <thead>
                        <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Clase</th>
                        <th>Campo</th>
                        <th>Creada</th>
                        <th>Actualizada</th>
                        <th>Acciones</th>
                        </tr>
                     </thead>
                     <tbody>
                       <?php foreach ($data->items as $item) : ?>
                        <tr>
                        <td><?= h($item->Id)?></td>
                        <td><?= h($item->nombre)?></td>
                        <td><?= h($item->clase)?></td>
                        <td><?= h($item->campo)?></td>
                        <td><?= h($item->createdAt)?></td>
                        <td><?= h($item->updatedAt)?></td>
                        <td>
                        <?= Html::linkAction("ver/$item->Id/$item->CategoriumId", 'Ver')?> |
                        <?= Html::linkAction("editar/$item->Id/$item->CategoriumId", 'Editar')?> |
                        <?= Html::linkAction("borrar/$item->Id/$item->CategoriumId", 'Borrar', 'onclick="return confirm(\'¿Está seguro?\')"') ?>
                        </td>
                        </tr>
                        <?php endforeach?>
                           
                     </tbody>
                  </table>
                  
               </div>
               <div class="panel-footer">
               <?php View::partial('paginators/digg', false, array('page' => $data ,'url' => Router::get('controller_path').'/index/'.$categoria->Id)) ?>
               </div>



<?php else : // Si no hay items?>
<h2>No hay ningún registro</h2>
<?php endif ?>
</div>
