
<?php View::content()?>
<h3>
	<?= Html::link("subcategoria/index/$categoria->Id", 'Sub Categorias')?> 
</h3>

<?php if ($data) : ?>

<div class="panel panel-default">
    <div class="panel-heading"></div>
    <div class="panel-body">
  
	<div class="row" style=" width: 60%;margin-left: auto;margin-right: auto;padding-top: 20px">
	<div class="col-md-5">
		<ul style="list-style: none">
		<li>ID</li> 
		<li>Nombre</li>
		<li>Clase</li>
		<li>Campo</li>
		<li>Categoria creada</li>
		<li>Categoria actualizada</li>
		<li>Categoria</li>
		<li>Imagen</li>
		<li>Css Class</li>
		
		</ul>
	</div>
	<div class="col-md-7">
		<ul style="list-style:none">
	<?php foreach ($data->fields as $field) : ?>
		<li><?= h($data->$field) ?></li>
	<?php endforeach ?>
	</ul>
	</div>
	<div class="col-md-4">
	</div>
	</div>
</div>
</div>
	<div class="form-group">
		<a href="../../crear/<?=$categoria->Id?>" class="btn btn-primary">Crear registro</a>
		<a href="../../editar/<?= $data->Id?>/<?=$categoria->Id?>" class="btn btn-warning">Editar</a>
		<a class="del btn btn-danger" title="¿Seguro que quiere borrar?" href="../../borrar/<?= $data->Id?>/<?=$categoria->Id?>" onclick="return confirm('¿Está seguro?');">Borrar</a>
	</div>
<?php else : ?>
	<?php header("HTTP/1.0 404 Not Found")?>
	<h1>No existe</h1>
	<div class="actions">
		<a href="../">Listado</a>
		<a href="../crear/">Crear registro</a>
	</div>
<?php endif ?>

