
<?php View::content() ?>
<h3>
	<a href="../">Pacientes</a>
</h3>
<div class="panel panel-default">

<center>
<div class="row">
<div class="col-md-5 col-md-offset-3">
<fieldset>
<legend>Editar paciente</legend>
 <?php echo Form::open() ?>


  <div class="form-group">
    <label class="control-label col-sm-2">Nombres: </label>
    <div class="col-sm-10">
    <?php echo Form::text('pacientes.nombres','class="form-control"') ?>
    </div>
  </div>
  <br></br>
   <div class="form-group">
    <label class="control-label col-sm-2">Apellidos: </label>
    <div class="col-sm-10">
    <?php echo Form::text('pacientes.apellidos','class="form-control"') ?>
    </div>
  </div>
  <br></br>
  <div class="form-group">
    <label class="control-label col-sm-2">Telefono: </label>
    <div class="col-sm-10">
    <?php echo Form::text('pacientes.telefono','class="form-control"') ?>
    </div>
  </div>
  <br></br>
  <div class="form-group">
    <label class="control-label col-sm-2">Edad: </label>
    <div class="col-sm-10">
    <?php echo Form::number('pacientes.edad','class="form-control"') ?>
    </div>
  </div>
  <br></br>
  <div class="form-group">
    <label class="control-label col-sm-2">Correo: </label>
    <div class="col-sm-10">
    <?php echo Form::email('pacientes.email','class="form-control"') ?>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2">Cedula: </label>
    <div class="col-sm-10">
    <?php echo Form::text('pacientes.cedula','class="form-control"') ?>
    </div>
  </div>
 <div class="form-group">
    <label class="control-label col-sm-2">fecha de nacimiento: </label>
    <div class="col-sm-10">
    <?php echo Form::date('pacientes.fechaNacimiento','class="form-control"') ?>
    </div>
  </div>
  
 
	<br></br>
<div class="form-group">
 <div class="col-sm-10">
	<?php echo Form::submit('Guardar','class="btn btn-primary"') ?>
	</div>
</div>
   

 <?php echo Form::close() ?>
 </fieldset>
</div>

</div>


</center>

<?php //View::partial('editors/tinymce') // ya veremos si incluimos algun wysiwyg?>
</div>