
<?php View::content()?>
<h3>Pedidos</h3>
<div class="panel panel-default">

<?php if (isset($data->items)) : ?>

<div class="panel-heading">Lista de pedidos
</div>

 <!-- START table-responsive-->
   <div class="table-responsive" style="margin-left:20px">
      <table id="table-ext-1" class="table table-bordered table-hover">
         <thead>
            <tr>
            <th>ID</th>
            <th>Observaciones</th>
            <th>Creado</th>
            <th>Actualizado</th>
            <th>Doctor</th>
            <th>Paciente</th>
            <th>Tipo servicio</th>
            <th>Tipo estado</th>
            <th></th>
            <th></th>
            <th></th>
            </tr>
         </thead>
         <tbody>
           <?php foreach ($data->items as $item) : ?>
            <tr>

            <td><?= h($item->Id)?></td>
            <td><?= h($item->observaciones)?></td>
            <td><?= h($item->createdAt)?></td>
            <td><?= h($item->updatedAt)?></td>
            <td><?= h($item->DoctorId)." ".$item->DoctorApe?></td>
            <td><?= h($item->PacienteId." ".$item->PacienteApe)?></td>
            <td><?= h($item->TipoServicioId)?></td>
            <td><?= h($item->TipoEstadoId)?></td>

            <td><?= Html::linkAction("detalleexamen/$item->Id", 'Detalle examenes','class="mb-sm btn btn-primary"')?></td>
            <td><?= Html::linkAction("imprimir/$item->Id", 'Imprimir','class="mb-sm btn btn-primary"')?></td>
            <td><?= Html::linkAction("pedidoatendido/$item->Id", 'Marcar pedido como atendido','class="mb-sm btn btn-success"')?></td>
            </tr>
            <?php endforeach?>
         </tbody>
      </table>
   </div>
   <div class="panel-footer">
   <?php View::partial('paginators/digg', false, array('page' => $data ,'url' => Router::get('controller_path').'/index')) ?>
   </div>



<?php else : // Si no hay items?>
<h2>No hay ningún registro</h2>
<?php endif ?>
</div>
