
<?php View::content()?>
<h3>Detalle</h3>
<div class="panel panel-default">

<?php if (isset($pedidoatendido)) : ?>

<div class="panel-heading">Lista detalle examenes
</div>

 <!-- START table-responsive-->
               <div class="table-responsive" style="margin-left:20px">
                  <table id="table-ext-1" class="table table-bordered table-hover">
                     <thead>
                        <tr>
                        <th>ID</th>
                        <th>Campo abierto</th>
                        <th>Creado</th>
                        <th>Actualizado</th>
                        <th>Sub categoria</th>
                        <th>Clase</th>
                        </tr>
                     </thead>
                     <tbody>
                       <?php foreach ($pedidoatendido as $item) : ?>
                        <tr>
            
                        <td><?= h($item->Id)?></td>
                        <td><?= h($item->campoAbierto)?></td>
                        <td><?= h($item->createdAt)?></td>
                        <td><?= h($item->updatedAt)?></td>
                        <td><?= h($item->SubCategoriumId)?></td>
                        <td><?= h($item->Clase)?></td>
                     
                        </tr>
                        <?php endforeach?>
                           
                     </tbody>
                  </table>
                  
               </div>
               <div class="panel-footer">
              
               </div>



<?php else : // Si no hay items?>
<h2>No hay ningún registro</h2>
<?php endif ?>
</div>
