<?php foreach ($data->items as $item) :
   if($item->TipoEstadoId == "Enviado"){ $pedidosEstadoEnviado += 1; }
   if($item->TipoEstadoId == "Atendido"){ $pedidosEstadoAtendido += 1; }
endforeach?>

<?php foreach ($users as $user) :
if(strtotime('today -1 month') < strtotime($user->createdAt)){ $numeroUsuariosUltimoMes+=1; }
endforeach?>

<home class="content-wrapper ng-scope">
<h3>
  Dashboard
  <small>Hola, aqui encontraras un resumen de la actividad de la aplicación</small>
</h3>
<div class="row">
  <div class="col-md-4">
    <div class="panel panel-warning">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-3">
            <em class="fa fa-shopping-cart fa-5x"></em>
          </div>
          <div class="col-xs-9 text-right">
            <div class="text-lg ng-binding"><?php echo $pedidosEstadoEnviado; ?></div>
            <p class="m0">Nuevos pedidos</p>
          </div>
        </div>
      </div>
      <?= Html::link("pedido", 'Ver Detalles', "ui-sref=\"app.pedidos\" class=\"panel-footer bg-dark bt0 clearfix btn-block\"")?>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel panel-green">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-3">
            <em class="fa fa-users fa-5x"></em>
          </div>
          <div class="col-xs-9 text-right">
            <div class="text-lg ng-binding"><?php echo $numeroUsuariosUltimoMes; ?></div>
            <p class="m0">Nuevos usuarios en el último mes!</p>
          </div>
        </div>
      </div>
      <div class="panel-footer bg-dark bt0 clearfix btn-block text-right">
        <!-- <p class="m0">&nbsp;</p> -->&nbsp;
      </div>
      <!-- END panel-->
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel panel-purple">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-3">
            <em class="fa fa-motorcycle fa-5x"></em>
          </div>
          <div class="col-xs-9 text-right">
            <div class="text-lg ng-binding"><?php echo $pedidosEstadoAtendido; ?></div>
            <p class="m0">Ordenes entregadas!</p>
          </div>
        </div>
      </div>
      <?= Html::link("pedido", 'Ver Detalles', "ui-sref=\"app.pedidos\" class=\"panel-footer bg-dark bt0 clearfix btn-block\"")?>
    </div>
  </div>
</div>
<div class="row">
   <div class="col-md-6">
      <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">
          <em class="fa fa-bell fa-fw"></em>Envio de Notificaciones</h3>
      </div>
      <div class="panel-body">
     <div class="row">
         <div class="col-md-12">
     <div class="input-group">
               <span class="input-group-addon">Mensaje a enviar</span>
               <input type="text" class="form-control" placeholder="Mensaje" aria-describedby="basic-addon1" id="mensaje" name="mensaje">
            </div>
         </div>
      </div>
            <div class="row">
               <div class="col-md-12">
            <div class="input-group">
               <span class="input-group-addon">Seleccione un medico para envio de notificaciones específicas</span>
               <select id="seleccionar" name="seleccionar" class="form-control selectpicker">
                  <?foreach($arr as $obj){?>
                  <option value=<? echo $obj->DevicePushId?>>
                     <? echo $obj->nombres." ".$obj->apellidos ?>
                  </option>
                  <?}?>
               </select>
            </div>
         </div>
      </div>
      </div>
      <div class="panel-footer">
         <div class="row">
         <div class="col-md-6">
            <button id="enviar" class="btn btn-primary navbar-btn">Enviar notificación a todos los medicos</button>
         </div>
         <div class="col-md-6">
            <button id="enviar_uno" class="btn btn-primary navbar-btn">Enviar notificación al medico seleccionado</button>
         </div>
      </div>
      </div>
    </div>
   </div>
   <div class="col-md-6">
   </div>
</div>
</home>

<script>
   $("#enviar").on("click",function(data){
      console.log($("#mensaje").val());
      var arr = { mensaje: $("#mensaje").val()};
      
      $.ajax({
        url: "http://www.masdomicilios.club:3005/api/v00/Doctor/NotificacionTodos",
        dataType: 'json',
        contentType: 'application/json; charset=utf-8',
        data: JSON.stringify(arr),
        success: function(html){
          alert("Notificaciones enviadas");
       },
       method: "POST"
    });
   })
   $("#enviar_uno").on("click",function(data){
      console.log($("#seleccionar").val());
      var arr = { mensaje: $("#mensaje").val(), token:$("#seleccionar").val()};
      
      $.ajax({
        url: "http://www.masdomicilios.club:3005/api/v00/Doctor/NotificacionUno",
        dataType: 'json',
        contentType: 'application/json; charset=utf-8',
        data: JSON.stringify(arr),
        success: function(html){
          alert("Notificaciones enviadas");
       },
       method: "POST"
    });
   })
</script>