
<?php View::content() ?>
<h3>
	<a href="../">Categorias</a>
</h3>
<div class="panel panel-default">

<center>
<div class="row">
<div class="col-md-5 col-md-offset-3">
<fieldset>
<legend>Nueva categoria</legend>
 <?php echo Form::open() ?>



  <div class="form-group">
    <label class="control-label col-sm-2">Nombre: </label>
    <div class="col-sm-10">
    <?php echo Form::text('categoria.nombre','class="form-control"') ?>
    </div>
  </div>
  <br></br>
   <div class="form-group">
    <label class="control-label col-sm-2">Imagen: </label>
    <div class="col-sm-10">
    <?php echo Form::text('categoria.Imagen','class="form-control"') ?>
    </div>
  </div>
  <br></br>
  <div class="form-group">
  		<label class="control-label col-sm-2">Tipo servicios</label>

  		 <div class="col-sm-10">
  		<select class="form-control" name="categoria[tiposervicios_id]">
  		 <?php foreach ($tiposervicios_id as $tipo) {?>
    		<option value="<?php echo $tipo->Id;?>"><?php echo $tipo->nombre;?></option>

    	<?php } ?>
  	</select>
  	</div>
	</div>
	<div class="form-group">
	 <label class="control-label col-sm-2">Orden: </label>
	 <div class="col-sm-10">
	 <?php echo Form::text('categoria.orden','class="form-control"') ?>
	 </div>
 </div>
	<br></br>
<div class="form-group">
 <div class="col-sm-10">
	<?php echo Form::submit('Guardar','class="btn btn-primary"') ?>
	</div>
</div>


 <?php echo Form::close() ?>
 </fieldset>
</div>

</div>


</center>

<?php //View::partial('editors/tinymce') // ya veremos si incluimos algun wysiwyg?>
</div>
