
<?php View::content()?>
<h3>
	<a href="../">Categorias</a>
</h3>
<div class="panel panel-default">
<?php if ($data) : ?>

	<div class="row">
	<div class="col-md-3">
		<ul style="list-style: none">
		<li>ID</li> 
		<li>Nombre</li>
		<li>categoria creada</li>
		<li>categoria actualizada</li>
		<li>Imagen</li>
		<li>Tipo servicio</li>
		</ul>
	</div>
	<div class="col-md-4">
		<ul style="list-style:none">
	<?php foreach ($data->fields as $field) : ?>
		<li><?= h($data->$field) ?></li>
	<?php endforeach ?>
	</ul>
	</div>
	</div>
	
	<div class="form-group">
		<a href="../crear/" class="btn btn-primary">Crear registro</a>
		<a href="../editar/<?= $data->Id?>" class="btn btn-warning">Editar</a>
		<a class="del btn btn-danger" title="¿Seguro que quiere borrar?" href="../borrar/<?= $data->Id?>" onclick="return confirm('¿Está seguro?');">Borrar</a>
	</div>
<?php else : ?>
	<?php header("HTTP/1.0 404 Not Found")?>
	<h1>No existe</h1>
	<div class="actions">
		<a href="../">Listado</a>
		<a href="../crear/">Crear registro</a>
	</div>
<?php endif ?>
</div>
