<!DOCTYPE html>
<html lang="es">
 <head>
  <meta charset=<?= APP_CHARSET ?> >
  <title>Panoramax</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <?php //Tag::css('kumbia') ?>
  <?php Tag::css('bootstrap') ?>
  <?php Tag::css('fontawesome/css/font-awesome.min') ?>
  <?php Tag::css('animo/animate+animo') ?>
  <?php //Tag::css('csspinner/csspinner.min') ?>
  <?php Tag::css('app') ?>
  <?php Tag::css('common') ?>
  <?= Html::includeCss() ?>

  <?php echo Tag::js('jquery/jquery.min')?>
  <?php echo Tag::js('modernizr/modernizr')?>
  <?php echo Tag::js('fastclick/fastclick')?>
  <?php echo Tag::js('bootstrap/js/bootstrap.min')?>
  <?php echo Tag::js('animo/animo.min')?>
  <?php echo Tag::js('js/pages')?>



</head>
<body>
   <!-- START wrapper-->
   <div class="row row-table page-wrapper">
      <div class="col-lg-3 col-md-6 col-sm-8 col-xs-12 align-middle">
         <?echo View::content();?>
      </div>
   </div>
   <!-- END wrapper-->
   <!-- START Scripts-->
   <!-- Main vendor Scripts-->



   <!-- END Scripts-->
</body>
</html>
