<!-- START panel-->
<div data-toggle="play-animation" data-play="fadeIn" data-offset="0" class="panel panel-dark panel-flat">
   <div class="panel-heading text-center">
      
      <p class="text-center mt-lg">
         <strong>Bienvenido a Panoramax.</strong>
      </p>
   </div>
   <div class="panel-body">

        <?echo Form::open()?>

         <div class="form-group has-feedback">
            <input id="identificacion" name="identificacion" type="email" placeholder="Enter email" class="form-control">
            <span class="fa fa-envelope form-control-feedback text-muted"></span>
         </div>
         <div class="form-group has-feedback">
            <input id="clave" name="clave" type="password" placeholder="Password" class="form-control">
            <span class="fa fa-lock form-control-feedback text-muted"></span>
         </div>
         <div class="clearfix">
            <div class="checkbox c-checkbox pull-left mt0">
               <label>
                  <input type="checkbox" value="">
                  <span class="fa fa-check"></span>Remember Me</label>
            </div>
            <div class="pull-right"><a href="#" class="text-muted">Forgot your password?</a>
            </div>
         </div>
         <button type="submit" class="btn btn-block btn-primary">Login</button>
      <?echo Form::close()?>
   </div>
</div>
<!-- END panel-->
